.container2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 100%;
    gap: 1.5%;
    width: 100%;

    box-sizing: border-box;
}

.deity {
    width: 80px;
    object-fit: cover;
    border-radius: 20px;
}

.deity:nth-child(1) { height: 150px; }
.deity:nth-child(2) { height: 170px; }
.deity:nth-child(3) { height: 190px; }
.deity:nth-child(4) { height: 220px; }
.deity:nth-child(5) { height: 220px; }
.deity:nth-child(6) { height: 220px; }    
.deity:nth-child(7) { height: 190px; }
.deity:nth-child(8) { height: 170px;}
.deity:nth-child(9) { height: 150px; }




.gallery {
    --s: 80px; 
    display: grid;
    gap: 7px;  
    grid: auto-flow var(--s)/repeat(3,var(--s));
    place-items: center;
    margin: calc(var(--s)/4);
    transform: translateX(140px); /* add this line */
  }
.gallery > img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
.gallery > img:nth-child(odd) {
  border-radius: 50%;
  width: 141%;
}
.gallery > img:nth-child(even) {
  --_r: calc(var(--s)/1.414) at;
  --_g: calc(var(--s)/-2),#000 99%,#0000;
  --_m:
    radial-gradient(var(--_r) left 50% bottom var(--_g)),
    radial-gradient(var(--_r) left 50% top    var(--_g)),
    radial-gradient(var(--_r) top  50% right  var(--_g)),
    radial-gradient(var(--_r) top  50% left   var(--_g)),
    linear-gradient(#000 0 0);
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
}

body{
    background-color: white;
}
.container3{
    position: relative;
    margin-top: -10px;
  
}